### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [316]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [317]:
df = pd.DataFrame(purchase_data)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [318]:
numofplayers = purchase_data["SN"].nunique()
print(f"Total Number of Players: {numofplayers}")

Total Number of Players: 576

In [319]:
player_count = pd.DataFrame({"Total Players": [numofplayers]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [320]:
groupbyitem = purchase_data.groupby(["Item ID"])
Uniquenum = groupbyitem["Item Name"].value_counts()
len(Uniquenum)

183

In [321]:
avgprice = purchase_data["Price"].mean()
rounded = round(avgprice, 2)
rounded

3.05

In [322]:
totalpurchases = purchase_data["Purchase ID"].count()
totalpurchases

780

In [323]:
totalrevenue = purchase_data["Price"].sum()
totalrevenue

2379.77

In [324]:
totalrev = [totalrevenue]
totalrevdf = pd.DataFrame([totalrevenue])
totalrevdf[0] = totalrevdf[0].map("${:,}".format)
totalrevdf

           0
0  $2,379.77

In [325]:
purchasing_analysis = pd.DataFrame({"Number of Unique Items": len(Uniquenum), "Average Price": f"${round(avgprice,2)}", "Number of Purchases": totalpurchases, "Total Revenue": [totalrevdf.iloc[0,0]]})
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [326]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed
groupedbysn = purchase_data.groupby(["SN"])
Gendernums = groupedbysn["Gender"].describe()
Gendernumssum = Gendernums["top"].value_counts()
Gendernumssum

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: top, dtype: int64

In [327]:
malepercent = Gendernumssum[0] / numofplayers
malepercentage = round(malepercent*100,2)
malepercentage

84.03

In [328]:
femalepercent = Gendernumssum[1] / numofplayers
femalepercentage = round(femalepercent*100,2)
femalepercentage

14.06

In [329]:
otherpercent = Gendernumssum[2] / numofplayers
otherpercentage = round(otherpercent*100,2)
otherpercentage

1.91

In [330]:
Gender_Demographics = pd.DataFrame({"Total Count": Gendernumssum, "Percentage of Players": [f"{malepercentage}%",f"{femalepercentage}%",f"{otherpercentage}%"  ] })
Gender_Demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [331]:
groupedbygender = purchase_data.groupby(["Gender"])
purchasecount = groupedbygender["Purchase ID"].count()
purchasecount

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [332]:
avgpurchaseprice = groupedbygender["Price"].mean()
avgpp = round(avgpurchaseprice, 2)
avgpp

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [333]:
totalpurchasevalue = groupedbygender["Price"].sum()
totalpurchasevalue

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [334]:
#Average Purchase Total per Person by Age Group.. need to find count of players for male female and others 
avgtotalpurchase = totalpurchasevalue / Gendernumssum
avgtotalpurchase = round(avgtotalpurchase, 2)
avgtotalpurchase

Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [335]:
Purchasing_Analysis = pd.DataFrame ({"Purchase Count": purchasecount, "Average Purchase Price": avgpp.map("${:.2f}".format), "Total Purchase Value": totalpurchasevalue.map("${:,.2f}".format), "Avg Total Purchase per Person": avgtotalpurchase.map("${:.2f}".format)})
Purchasing_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [336]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 9999]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [337]:
purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [338]:
#still thinking about this one 
clean_df = purchase_data.drop_duplicates("SN")
agedemo_datacounts = clean_df["Age Demographics"].value_counts()
agedemo_datapercentage = agedemo_datacounts / numofplayers *100

age_demographics = pd.DataFrame({"Total Count": agedemo_datacounts, "Percentage of Players": agedemo_datapercentage.map("{:,.2f}%".format)})

In [339]:
age_demographics = age_demographics.sort_index()
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [340]:
clean_df2 = purchase_data.groupby("Age Demographics")
df2purchasecount = clean_df2["SN"].count()
df2purchasecount

Age Demographics
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64

In [341]:
df2avgpurchaseprice = clean_df2["Price"].mean()
df2totalpurchasevalue = clean_df["Price"].sum()
df2avgpurchaseprice

Age Demographics
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [342]:
df2totalpurchasevalue = df2purchasecount * df2avgpurchaseprice
df2totalpurchasevalue

Age Demographics
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
dtype: float64

In [343]:
df2avgtotppp = df2totalpurchasevalue / agedemo_datacounts
df2avgtotppp

<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [344]:
Age_demographics2 = pd.DataFrame({"Purchase Count": df2purchasecount, "Average Purchase Price": df2avgpurchaseprice.map("${:,.2f}".format), "Total Purchase Value": df2totalpurchasevalue.map("${:,.2f}".format), "Avg Total Purchase per Person": df2avgtotppp.map("${:,.2f}".format)})
Age_demographics2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [345]:
purchasecountgroupby = purchase_data.groupby("SN")
topspendercount = purchasecountgroupby["Price"].count()
topspenderavgprice = purchasecountgroupby["Price"].mean()
topspendertotprice = purchasecountgroupby["Price"].sum()
topspendersdf = pd.DataFrame({"Purchase Count": topspendercount, "Average Purchase Price": topspenderavgprice.map("${:.2f}".format), "Total Purchase Value": topspendertotprice})
topspendersdf = topspendersdf.sort_values(by="Total Purchase Value", ascending=False)
topspendersdf["Total Purchase Value"] = topspendersdf["Total Purchase Value"].apply('${:.2f}'.format)
topspendersdf.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [346]:
mostpopulargroupby = purchase_data.groupby(["Item ID","Item Name"])
mostpopItemid = mostpopulargroupby["Item ID"].unique()
mostpopItemid

Item ID  Item Name
0        Splinter                             [0]
1        Crucifer                             [1]
2        Verdict                              [2]
3        Phantomlight                         [3]
4        Bloodlord's Fetish                   [4]
                                            ...
179      Wolf, Promise of the Moonwalker    [179]
180      Stormcaller                        [180]
181      Reaper's Toll                      [181]
182      Toothpick                          [182]
183      Dragon's Greatsword                [183]
Name: Item ID, Length: 183, dtype: object

In [347]:
mostpoppurchasecount = mostpopulargroupby["Price"].count()
mostpoppurchasecount

Item ID  Item Name
0        Splinter                           4
1        Crucifer                           3
2        Verdict                            6
3        Phantomlight                       6
4        Bloodlord's Fetish                 5
                                           ..
179      Wolf, Promise of the Moonwalker    6
180      Stormcaller                        1
181      Reaper's Toll                      5
182      Toothpick                          3
183      Dragon's Greatsword                3
Name: Price, Length: 183, dtype: int64

In [348]:
mostpopitemprice = mostpopulargroupby["Price"].unique()
mostpopitemprice.head()

Item ID  Item Name
0        Splinter              [1.28]
1        Crucifer              [3.26]
2        Verdict               [2.48]
3        Phantomlight          [2.49]
4        Bloodlord's Fetish     [1.7]
Name: Price, dtype: object

In [349]:
mostpoptotpurchasevalue = mostpopulargroupby["Price"].sum()
mostpoptotpurchasevalue

Item ID  Item Name
0        Splinter                            5.12
1        Crucifer                            9.78
2        Verdict                            14.88
3        Phantomlight                       14.94
4        Bloodlord's Fetish                  8.50
                                            ...
179      Wolf, Promise of the Moonwalker    26.88
180      Stormcaller                         3.36
181      Reaper's Toll                       8.30
182      Toothpick                          12.09
183      Dragon's Greatsword                 3.27
Name: Price, Length: 183, dtype: float64

In [350]:
mostpopularitemsdf = pd.DataFrame({"Purchase Count": mostpoppurchasecount, "Item Price": mostpopitemprice, "Total Purchase Value":mostpoptotpurchasevalue  })
mostpopularitemsdf = mostpopularitemsdf.sort_values("Purchase Count", ascending=False)
# mostpopularitemsdf["Total Purchase Value"] = mostpopularitemsdf["Total Purchase Value"].apply('${:.2f}'.format)
mostpopularitemsdf["Item Price"] = mostpopularitemsdf["Item Price"].str[0]
mostpopularitemsdf["Item Price"] = mostpopularitemsdf["Item Price"].apply('${:.2f}'.format)
mostpopularitemsdf.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
145,Fiery Glass Crusader,9,$4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77
82,Nirvana,9,$4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [351]:
mostpopularitemsdf2 = pd.DataFrame({"Purchase Count": mostpoppurchasecount, "Item Price": mostpopitemprice, "Total Purchase Value":mostpoptotpurchasevalue  })
mostpopularitemsdf2 = mostpopularitemsdf.sort_values(["Total Purchase Value", "Purchase Count"], ascending=False)
mostpopularitemsdf2["Total Purchase Value"] = mostpopularitemsdf2["Total Purchase Value"].apply('${:.2f}'.format)

mostpopularitemsdf2.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80